<div class="formsContainer" style="background-color: beige;">
    <h1 style="background-color: rgb(168, 69, 69); color: white; padding: .5%;">Inicia sesión con tu cuenta de Github...</h1>
    <div>
        <img src="/img/GitHub-logo.png" alt="GitHub" style="width: 30%;">
    </div>
    <a href="/api/sessions/github"> <button style="background-color: rgb(69, 163, 168); width: 20%; color:aliceblue; font-size: 18px; padding: .5%; border-radius: 20%">Entrar con GitHub</button> </a>
    <br>
    <h3 style="margin-top: 2.5%;">Si no estas registrado en GitHub, no te preocupes...</h3>
    <p>¿Nuevo usuario? <a href="/users/register">Regístrate aquí</a></p>
    <p>¿Ya tienes cuenta con nosotros? <a href="/users/login">Inicia sesión aquí</a></p>
</div>