<div class="formsContainer" style="background-color: rgba(78, 85, 128, 0.488);">
    <h1 style="background-color: rgb(82, 69, 168); padding: 2%; color: white">Login</h1>
    <form id="loginForm">
        <div class="lineForms">
            <label>Email:</label>
            <input name="email">
        </div>
        <div class="lineForms">
            <label>Contraseña:</label>
            <input type="password" name="password">
        </div>
        <div class="lineForms">
            <input type="submit" style="background-color: rgb(69, 168, 160); width: 30%; font-size: 14px;" >
        </div>
    </form>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
    <p> ¿Tienes una cuenta en GitHub? <a href="/github/login">Regístrate mediante ella :)</a></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>